<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="mailto: info@tironia.com" class="button next">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Our Mission Statement</h2>
                </header>
                <p>In this ever-changing landscape of technology, we offer innovative yet pragmatic software solution for our clients. We are passionate what we do, we believe that carefully thought out software has the potential to accelerate any business in an astronomical pace. We would love to join you on that journey.</p>
                <ul class="actions">
                    <li><a href="mailto: info@tironia.com" class="button next">Contact Us</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
